{{ define "content"}}
	{{ $cardCount := where $.Site.RegularPages "Section" "cards" | len }}
	{{ $contentType := cond (gt $cardCount 0) "cards" "posts" }}
	{{ $.Scratch.Set "contentType" $contentType }}
    {{ partial "nav.html" (dict "context" . "rssButton" true "contentType" $contentType) }}

	<div class="ui centered grid">
				<div class="fifteen wide mobile fifteen wide tablet four wide computer column">
			{{ partial "header.html" . }}
		</div>

		<div class="fifteen wide mobile fifteen wide tablet eleven wide computer column post-list">
            <section class="ui secondary top attached black segment post-head" >
                {{ .Content }}
            </section>
        </div>
	</div>
{{ end }}
