<nav class="ui top secondary menu bar">
		<div class="item left-most">
		<a href="/">
			<i class="inverted big link home icon" title="{{ i18n `home` }}"></i>
		</a>
	</div>

	{{ $scratch := newScratch }}
	{{ range $index, $val := $.context.Site.Social }}
		{{ $scratch.Set $index $val }}
	{{ end }}

		{{ $sites := slice "GitHub" "Email" "Twitter" "YouTube" "Medium" "LinkedIn" "Stack Overflow" "CodePen" "Reddit" "CodeProject" }}
	{{ $links := slice "https://github.com/" "mailto:" "https://twitter.com/" "https://youtube.com/user/" "https://medium.com/@" "https://www.linkedin.com/in/" "https://www.stackoverflow.com/users/" "https://codepen.io/" "https://reddit.com/user/" "https://www.codeproject.com/Articles/" }}
	{{ $icons := slice "github" "mail" "twitter" "youtube play" "medium" "linkedin" "stack overflow" "codepen" "reddit" "icon-codeproject" }}

		{{ range $index, $val := $sites }}
		{{ $var := replace $val " " "" | lower }}
		{{ with ($scratch.Get $var) }}
			<div class="item">
				<a href="{{ index $links $index }}{{ $scratch.Get $var }}" {{ if ne $var "mail" }}target="	_blank"{{ end }}>
					<i id="ico" class="inverted big link {{ index $icons $index }} icon" title="{{ $val }}"></i>
				</a>
			</div>
		{{ end }}
	{{ end }}

		{{ if and (eq .contentType "posts") .rssButton }}
		<div class="item right right-most">
			<i class="inverted big link sidebar icon"
			   onClick="$('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');"
			   title="{{ i18n `showSidebar` }}"></i>
		</div>
	{{ end }}
</nav>
