<div id="sidebar" class="ui sidebar inverted vertical menu">
	{{/*Home button*/}}
	<div class="item">
		<a href="/">
			<i class="inverted big link home icon" title="{{ i18n `home` }}"></i>
			{{ i18n `home` }}
		</a>
	</div>

	{{/*About Me button*/}}
	<div class="item">
		<a href="/about">
			<i class="inverted big link address card icon" title="{{ i18n `flip` }}"></i>
			{{ i18n `flip` }}
		</a>
	</div>

	{{/*Archive section button*/}}
	<div class="item">
		<a href="/posts">
			<i class="inverted big link archive icon" title="{{ i18n `archive` }}"></i>
			{{ i18n `archive` }}
		</a>
	</div>

	{{/*Tags section button*/}}
	{{ if .Site.Params.tags.enabled }}
		<div class="item">
			<a href="/tags">
				<i class="inverted big link tags icon" title="{{ i18n `tag` 1 }}"></i>
				{{ i18n `tag` 1 }}
			</a>
		</div>
	{{ end }}

	{{/*Categories section button*/}}
	{{ if .Site.Params.categories.enabled }}
		<div class="item">
			<a href="/categories">
				<i class="inverted big link cubes icon" title="{{ i18n `category` 1 }}"></i>
				{{ i18n `category` 1 }}
			</a>
    	</div>
	{{ end }}

	<div class="item">
		<a href="/posts/index.xml">
			<i class="inverted big link rss icon" title="{{ i18n `rssFeed` }}"></i>
			{{ i18n `rssFeed` }}
		</a>
	</div>
</div>
