{{/*Semantic UI colors for tags*/}}
{{ $colors := slice "red" "orange" "yellow" "olive" "green" "teal" "blue" "violet" "purple" "pink" "brown" }}

{{/*Render tags based on 'isPost' parameter*/}}
{{ if .isPost }}
	{{ range $i, $name := .context.Params.tags }}
		<a class="ui label {{ index $colors $i }} " href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">{{ $name }}</a>
	{{ end }}
{{ else }}
	{{ $limit := int .limit }}
	{{ if eq $limit 0 }}
		{{ range $i, $taxonomyEntry := .tags.Alphabetical }}
			{{ $name := $taxonomyEntry.Name }}
			<a class="ui label {{ index $colors $i }} " href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">{{ $name }}</a>
		{{ end }}
	{{ else }}
		{{ range $i, $taxonomyEntry := first $limit .tags.ByCount }}
			{{ $name := $taxonomyEntry.Name }}
			<a class="ui label {{ index $colors $i }} " href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">{{ $name }}</a>
		{{ end }}
	{{ end }}
{{ end }}
