{{ define "content"}}
	{{ $cardCount := where $.Site.RegularPages "Section" "cards" | len }}
	{{ $contentType := cond (gt $cardCount 0) "cards" "posts" }}
	{{ $.Scratch.Set "contentType" $contentType }}
	{{ partial "nav.html" (dict "context" . "rssButton" true "contentType" $contentType) }}

	<div class="ui centered grid">
		<div class="fifteen wide mobile fifteen wide tablet four wide computer column">
			{{ partial "header.html" . }}
		</div>

		<div class="fifteen wide mobile fifteen wide tablet eleven wide computer column post-list">
			<div class="cards row box">
				{{ range .Paginator.Pages }}
					{{ .Render "card" }}
				{{ end }}

			</div>
			<div class="nav-arrows row box" >
				{{ $paginator := .Paginate (where .Data.Pages "Section" $contentType) }}
				<div class="item">
					{{ if .Paginator.HasPrev }}
						<a href="{{ $paginator.Prev.URL }}">
							<i class="inverted big link chevron circle left icon" title="{{ i18n `prevPage` }}"></i>
						</a>
					{{ else if .Paginator.HasNext }}
						<i class="disabled inverted big chevron circle left icon" title="{{ i18n `prevPage` }}"></i>
					{{ end }}
				</div>
				<div class="item">
					{{ if .Paginator.HasNext }}
						<a href="{{ $paginator.Next.URL }}">
							<i class="inverted big link chevron circle right icon" title="{{ i18n `nextPage` }}"></i>
						</a>
					{{ else if .Paginator.HasPrev }}
						<i class="disabled inverted big chevron circle right icon" title="{{ i18n `nextPage` }}"></i>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
{{ end }}

{{ define "bodyEnd" }}
		{{ with $.Site.Params.disqusShortname }}
		{{ if eq ($.Scratch.Get "contentType") "posts" }}
			<script id="dsq-count-scr" src="//{{ $.Site.Params.disqusShortname }}.disqus.com/count.js" async></script>
		{{ end }}
	{{ end }}
{{ end }}
